{% include '/template/head.twig'%}
<main>
    <h1 class="text-center pt-5 text-white">Pokédex 2000</h1>
    <form class="border border-success formx" method="post">
        <h2 class="text-white">Connexion</h2>
        <input type="text" class="border border-success" method="post" placeholder="Nom du Dresseur" id="loginName" name="loginName">
        <a href="/inscription" class="connexion__a link-light">inscription</a>
        <p class="p_error text-danger">{{error}}</p>
        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
</main>  
{% include '/template/footer.twig'%}