{% include '/template/head.twig'%}
<body>
    <h1 class="text-center mt-5">Pokedex 2000</h1>
    <form class="border border-success formx">
        <h2>Connexion</h2>
        <input type="text" class="border border-success" method="post" placeholder="Nom du Dresseur" id="loginName" name="loginName">
        <a href="/inscription" class="connexion__a link-light">inscription</a>
        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
</body>
</html>