body{
    background-image: url('./img/fond.jpg');
    background-repeat: no-repeat;
    background-size:auto;
    color: black;
}

.blur_body{
    filter: blur(2px);
}
.formx{
    width:20vw;
    margin: 20vh auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.formx *{
    margin: 20px 0;
}
.formx input{
    border-radius: 6px;
    height: 40px;
}
.connexion__a, .inscription__a {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    bottom: 22px;

}
.connexion__a{
    left: 60px;
}
.inscription__a{
    left: 35px;
}
.formx button{
    width: 170px;
}







/* MAIN PAGE */

.main_content {
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 22px;
    width: 70vw;
    height: 80vh;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 70, 70, 0.232);
    height: 60px;
    padding: 0 15px;
}
.badge{
    background-color: black;
}

.main_form{
    width: 350px;
    height: 430px;
    border-radius: 12px;
    color: black;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.73);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_form div{
    width: 200px;
    margin: 10px auto 0 auto;
}

.form_title{
    text-align: center;
    width: 330px!important;
}

.form_title button{
    position: relative;
    bottom: 75px;
    left: 153px;
    font-size: 12px;
}

.main_form button {
    margin-top: 20px;
}

.appear{
    bottom: 60vh;
}