body{
    background-image: url('./img/fond.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    color: black;
}
main {
    background-image: url('./img/fond.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.formx{
    width:300px;
    margin: 20vh auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
.formx *{
    margin: 20px 0;
}
.formx input{
    border-radius: 6px;
    height: 40px;
}
.connexion__a, .inscription__a {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    bottom: 22px;

}
.connexion__a{
    left: 60px;
}
.inscription__a{
    left: 35px;
}

.p_error{
    position: relative;
    background-color: azure;
}
.formx button{
    width: 170px;
}







/* MAIN PAGE */

.main_content {
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.88;
    border-radius: 22px;
    width: 70vw;

}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 70, 70, 0.232);
    height: 60px;
    padding: 0 15px;
}
.main_header h2{
    font-size: 2vw;
    position: relative;
    top: 5px;
}
.badge{
    background-color: black;
}

.main_form{
    width: 350px;
    height: 430px;
    border-radius: 12px;
    background-color: red;
    color: black;
    margin: 20vh auto;
    background-color: rgba(255, 255, 255, 0.73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_form div{
    width: 200px;
    margin: 10px auto 0 auto;
}

.form_title{
    text-align: center;
    width: 330px!important;
}

.form_title a{
    position: relative;
    bottom: 75px;
    left: 153px;
    font-size: 12px;
}

.main_form button {
    margin-top: 20px;
}

.main_body_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge_img{
    height: 10px;
    width: 10px;
}

.poke_img{
    height: 100px;
    width: auto;
}

.badge-sm {
    display: none;
}
@media (max-width: 1024px) {
  
}

@media (max-width: 824px) {
    .main_content{
        width: 90vw
    }
}

@media (max-width: 624px) {
    .main_header{
        padding: 0 3px;
    }
    .main_header h2{
        font-size: 3.5vw;
        top: 4px
    }
    .main_header a{
        text-align: end;
        width: 60px;
    }
    .badge-sm {
        display: block;
        font-size: 4vw;
    }
    .badge-xl, .add_pokemon span {
        display: none;
    }

    main h1, main h2{
        color: rgb(255, 255, 255);
    }
    

}


.udpate__form{
    width: 500px;
}